* {
  margin: 0;
}

section {
  display: grid;
  width: 80%;
  height: 80vh;
  margin: 50px auto;
  grid-gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

section div {
  background: crimson;
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}

.row-1 {
  grid-row: span 1;
}
.row-2 {
  grid-row: span 2;
}
.row-3 {
  grid-row: span 3;
}
.row-4 {
  grid-row: span 4;
}
.row-5 {
  grid-row: span 5;
}
.row-6 {
  grid-row: span 6;
}
.row-7 {
  grid-row: span 7;
}
.row-8 {
  grid-row: span 8;
}
.row-9 {
  grid-row: span 9;
}
.row-10 {
  grid-row: span 10;
}
.row-11 {
  grid-row: span 11;
}
.row-12 {
  grid-row: span 12;
}