h1{
  color: salmon
}
h1:hover{
  color: gainsboro
}
body {
  background-color: black;
}
img { 
  border: 3px solid transparent; 
} 
img:hover { 
  border: 3px solid whitesmoke; 
}
a{
  color: white;
}
a:hover{
  color: bisque
}
span{
  color: aqua
}